<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>IOT project | Dashboard</title>
	</head>
	<link
		rel="stylesheet"
		href="{{url_for('static', filename='css/mk_charts.css')}}"
	/>
	<link
		rel="stylesheet"
		href="{{url_for('static', filename='css/global.css')}}"
	/>
	<body>
		<!-- Navbar -->
		{% include 'nav.html' %}

		<!-- Body -->
		<div class="wrapper">
			<!-- Graph -->
			<div class="graph-container">
				<canvas id="graph" width="100" height="60"></canvas>
			</div>

			<!-- Charts -->
			<div class="charts-container" id="charts-container">
				<div>
					<!-- <span>CO2</span> -->
					<div
						class="mkCharts chrt1"
						data-percent="10"
						data-size="125"
						data-lable="CO2"
						data-sign="%"
					></div>
				</div>
				<div>
					<!-- <span>Temperature</span> -->
					<div
						class="mkCharts chrt2"
						data-percent="0"
						data-size="125"
						data-sign="°C"
						data-lable="Temperature"
					></div>
				</div>
				<div>
					<!-- <span>Humidity</span> -->
					<div
						class="mkCharts"
						data-percent="0"
						data-size="125"
						data-sign="%"
						data-lable="Humidity"
					></div>
				</div>
			</div>
		</div>
	</body>
	<script src="{{url_for('static', filename='js/mk_charts.js')}}"></script>
	<script src="{{url_for('static', filename='js/refresh_charts.js')}}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
	<script>
		const ctx = document.getElementById('graph').getContext('2d');
		const myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
				datasets: [
					{
						label: '# of Votes',
						data: [12, 19, 3, 5, 2, 3],
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 159, 64, 0.2)',
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)',
						],
						borderWidth: 2,
					},
				],
			},
			options: {
				scales: {
					y: {
						beginAtZero: true,
					},
				},
			},
		});
	</script>
</html>
